.notification {
  background-color: lightgrey;
  border-radius: 5px;
  margin: 0 auto 20px;
  padding: 20px;
}

.info {
  border: 2px solid green;
  color: green;
}

.warning {
  border: 2px solid red;
  color: red;
}

.hidden {
  display: none;
}